{% extends 'main/layout.html' %}

{% block title%} {{ title }} {% endblock %}

{% block content%}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ipsa nihil similique sit voluptas, voluptatibus! Culpa dignissimos, dolorem eos libero nesciunt possimus quod. Eaque explicabo officia reiciendis rerum, sint ullam?   </p>
        <button class="btn btn-warning">На страницу про нас </button>
        {% for el in values %}
            {% if el == 'Hello' %}

                    <p>{{ el|upper }}</p>

            {% endif%}
        {% endfor %}
        {% for el in obj %}
            <p>{{ el }}</p>
        {% endfor %}
    </div>
{% endblock %}